
body {
  background-color: #1D2029;
  color: #9094B9;
  font-family: 'Comic Neue', cursive;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  color: white;
  margin-top: 3%;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  color: white;
  margin-top: 3%;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
  line-height: 1;
}

p {
  color: #9094B9;
}

.container-fluid {
  padding: 3% 15%;
}

.card {
  background-color: #252B43;
  margin-bottom: 3%;
}
.card-block {
  background-color: #252B43;
  padding: 3% 3%;

}
.social-all {
  background-color: #252B43;
}

.social-today {
  padding: 3% 3%;
  background-color: #252B43;
  margin-bottom: 3%;
}

.mode-position {
  position: relative;
}

.mode-container {
  line-height: 30px;
  position: absolute;
  top:30%;
  right:15px;
}

.dark-mode {
  line-height: normal;
  padding-right: 10px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #3A4C98; color: hsl(228, 45%, 44%); }

.facebook {
  border-top: 4px solid #268CE5;
  text-align: center;
}
.twitter {
  border-top: 4px solid #2B9DE6;
  text-align: center;
}
.instagram {
  border: none;
  border-radius: .25rem;
  border-top: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #F2C382, #CC5591);
  text-align: center;
}
.youtube {
  border-top: 4px solid #B50C33;
  text-align: center;
}

.social-image {
  padding: 15px 0;
}

.increment-count {
  padding: 15px 0;
  color: #379283;
  font-weight: 700;
  font-size: 0.8rem;
}

.followers {
  text-transform: uppercase;
  letter-spacing: 2px;
}
