
body {
  background-color: #1D2029;
  color: #9094B9;
  font-family: 'Comic Neue', cursive;
  position: relative;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0;
}

h2 {
  color: white;
  margin: 3% 0 2%;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  color: white;
  margin-top: 3%;
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0;
  line-height: 1;
}

p {
  color: #9094B9;
}

.container-fluid {
  padding: 2% 15%;
}

.card {
  background-color: #252B43;
  margin-bottom: 3%;
}

.card-block {
  background-color: #252B43;
  padding: 3% 3%;
}

.card:hover {
  background-color: #333956;
}

.card-block:hover  {
  background-color: #333956;
}

.social-all {
  background-color: #252B43;
}

.social-today {
  padding: 3% 3%;
  background-color: #252B43;
  margin-bottom: 3%;
}

.mode-position {
  position: relative;
}

.mode-container {
  line-height: 30px;
  position: absolute;
  top:30%;
  right:15px;
}

.dark-mode {
  line-height: normal;
  padding-right: 10px;
  color: white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: #3A4C98; color: hsl(228, 45%, 44%); }

.card {
  border: 0;
}
.facebook {
  border-top: 4px solid #268CE5;
}
.twitter {
  border-top: 4px solid #2B9DE6;
}
.instagram {
  border-radius: .25rem;
  border-top: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #F2C382, #CC5591);
}
.youtube {
  border-top: 4px solid #B50C33;
}

.card {
  text-align: center;
}

.social-image {
  padding: 15px 0;
}

.increment-count {
  padding: 15px 0;
  color: #379283;
  font-weight: 700;
  font-size: 0.8rem;
}

.decrement-count {
  padding: 15px 0;
  color: #C24962;
  font-weight: 700;
  font-size: 0.8rem;
}

.followers {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.add-margin-top {
  margin-top: 4%;
}

.left-block {
  text-align: left;
}

.right-block {
  text-align: right;
}

.social-padding {
  padding: 15px 15px 5px 15px;
  position: relative;
}

.social-bold-text {
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
  position: absolute;
  bottom: 0;
}

.social-percentage {
  padding-top: 30px;
  position: absolute;
  bottom: 0;
}

.no-padding-right {
  padding-right: 0;
}

.add-10-margin {
  margin-top: 10px;
}

.top-background-color {
  width: 100%;
  height: 30%;
  background-color: #20222E;
  z-index: -1;
  position: absolute;
}
